|{% load static %}
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="shortcut icon" type="image/png" href="{% static 'blog/assets/favicon_'|add:favicon|add:'32.png' %}")
link(rel="apple-touch-icon" href="{% static 'blog/assets/favicon_'|add:favicon|add:'128.png'%}")
link(rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}")
link(rel="stylesheet" href="{% static 'css/bulma.css' %}")
link(rel="stylesheet" href="{% static 'blog/css/blog-base.css' %}")
|{% if existance %}
link(rel="stylesheet" href="{% static 'rpg/css/rpg_base.css' %}")
|{% endif %}
