hr
h1.icon.subtitle.is-inline: a#home-link(href="{% url 'blog-home' %}"): i.fab.fa-accessible-icon
h1.icon.subtitle.is-inline: a(href="/tags/journal"): i.fas.fa-pencil-alt
h1.icon.subtitle.is-inline: a(href="/tags/devlog"): i.fas.fa-bug
  
h1.icon.subtitle.is-inline.is-pulled-right: a(href="https://twitter.com/Jaynoco"): i.fab.fa-twitter
h1.icon.subtitle.is-inline.is-pulled-right: a(href="https://www.linkedin.com/in/jacobnorth/"): i.fab.fa-linkedin
h1.icon.subtitle.is-inline.is-pulled-right: a(href="/admin"): i.fas.fa-key
| {% if user.is_authenticated %}
h1.icon.subtitle.is-inline.is-pulled-right: a(href="/admin/logout"): i.fas.fa-skull
| {% endif %}
