hr
h1.icon.subtitle.is-inline: a#home-link(href="{% url 'blog-home' %}"): i.fab.fa-accessible-icon
h1.icon.subtitle.is-inline: a(href="/admin"): i.fas.fa-key
h1.icon.subtitle.is-inline: a(href="/journal"): i.fas.fa-book
| {% if user.is_authenticated %}
h1.icon.subtitle.is-inline: a(href="/admin/logout"): i.fas.fa-skull
| {% endif %}
