|{% if config.entry_sorting == 'columns'%}
.columns.is-multiline
  | {% for entry in entries reversed %}
  .column.is-one-third
    a(href="/entry/{{entry.slug}}")
      .card
        |{% if entry.featured_image %}
        .card-image
          .figure.image.is-4by3
            img(src="{{ entry.featured_image.image.url }}")
        |{% endif %}
        .card-content
          .content
            h3.title.is-4 {{entry.title}} 
            h4.subtitle.is-6 {{entry.richbody | safe | truncatewords:7}}
        footer.card-footer
          .card-footer-item.justify-left
            p {{entry.created}}
          
  | {% endfor %}
|{% elif config.entry_sorting == 'tiles' %}
.tile.is-ancestor
  .tile.is-parent.is-12.is-vertical
    |{% for entry in entries %}
    artice.tile.is-6.is-child.box
      p {{entry.title}}
      |{% if entry.featured_image.image %}
      img(src="{{entry.featured_image.image.url}}")
      |{% endif %}
    |{% endfor %}
|{% endif %}
