{% if entry.featured_image %}
<div class="image is-square is-clipped has-radius-small is-featured-image {{ entry.featured_image.image|orientation }}"><img src="{{ entry.featured_image.image.url }}" alt="{{entry.featured_image.image.caption}}" title="{{entry.featured_image.image.title}}"/></div>{% endif %}
<h3 class="title is-4">{%translate entry.title|safe language True%} </h3>
<p class="is-marginless has-break-all">{%translate entry.description|safe|truncatewords:5|striptags language False%}</p>
<div class="buttons">{% for tag in entry.tags.all %}
  <button class="button is-static is-small is-rounded has-background-link has-text-white has-text-weight-bold">{{tag.tag_name}}</button>{% endfor %}
</div><span>&nbsp;</span>