
<div class="is-multiline {{config.entry_sorting}}">{% for entry in entries reversed %}
<div class="column is-one-third"><a href="/entry/{{entry.slug}}">
    <div class="card">{% for work in entry.images.all %}{% if forloop.first %}
      <div class="card-image">
        <div class="figure image is-4by3"><img src="{{ work.image.url }}"/></div>
      </div>{% endif %}{% endfor %}
      <div class="card-content">
        <div class="content">
          <h3 class="title is-4">{{entry.title}} </h3>
          <h4 class="subtitle is-6">{{entry.richbody | safe | truncatewords:7}}</h4>
        </div>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item justify-left">
          <p>{{entry.created}}</p>
        </div>
      </footer>
    </div></a>{% endfor %}</div></div>    