|{% load blog_extras %}

|{% if config.entry_sorting == 'columns'%}
.columns.is-multiline
  | {% for entry in entries|shuffle %}
  .column.is-one-third-desktop.is-half-tablet
    |{% if entry|to_class_name == 'Entry' %}
    a(href="/entry/{{entry.slug}}")
      .box.entry
        .level.is-mobile
          .level-left
            small.is-size-7 {%if entry.category%}{% translate entry.category|capfirst|safe language True %}{%else%}{% translate Uncategorized language True %}{%endif%}
          .level-right
            small.is-size-7 {% translate entry.created|date|safe language True %}
        include entrylist_entrybody.pug
    |{% elif entry|to_class_name == 'Project' %}
    a(href="/project/{{entry.slug}}")
      .box.entry
        small.is-size-7 {% translate entry|to_class_name|safe language True %} - {%if entry.category%}{% translate entry.category|capfirst|safe language True %}{%else%}{% translate Uncategorized language True %}{%endif%}
        include entrylist_entrybody.pug
    | {% endif %}
      
  | {% endfor %}
  
|{% elif config.entry_sorting == 'tiles' %}
.tile.is-ancestor
  .tile.is-parent.is-12.is-vertical
    |{% for entry in entries %}
    artice.tile.is-6.is-child.box
      p {{entry.title}}
      |{% if entry.featured_image.image %}
      img.has-radius-small(src="{{entry.featured_image.image.url}}")
      |{% endif %}
    |{% endfor %}
|{% endif %}
