|{% load blog_extras %}
|{% if config.entry_sorting == 'columns'%}
.columns.is-multiline
  | {% for entry in entries reversed %}
  .column.is-one-third
    a(href="/entry/{{entry.slug}}")
      .box.entry
        |{% if entry.featured_image %}
        .image.is-square(class="{{ entry.featured_image.image|orientation }}")
          img(src="{{ entry.featured_image.image.url }}")
        |{% endif %}
        h3.title.is-4 {{entry.title}} 
  | {% endfor %}
  
|{% elif config.entry_sorting == 'tiles' %}
.tile.is-ancestor
  .tile.is-parent.is-12.is-vertical
    |{% for entry in entries %}
    artice.tile.is-6.is-child.box
      p {{entry.title}}
      |{% if entry.featured_image.image %}
      img(src="{{entry.featured_image.image.url}}")
      |{% endif %}
    |{% endfor %}
|{% endif %}
