|{% if entry.featured_image %}
.image.is-square.is-clipped.has-radius-small(class="{{ entry.featured_image.image|orientation }}")
  img(src="{{ entry.featured_image.image.url }}" alt="{{entry.featured_image.image.caption}}" title="{{entry.featured_image.image.title}}")
|{% endif %}
h3.title.is-4 {{entry.title}} 
p.is-marginless {{entry.description|safe|truncatewords:5}}
