head
  title First Studio
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="https://kit.fontawesome.com/86fbf216f8.js")
  link(rel="stylesheet" href="{% static 'css/bulma.css' %}")
  link(rel="stylesheet" href="{% static 'css/base.css' %}")
