.content
  h3 {% translate "Project Categories" language True %}
  ul
    | {%for category in project_categories%}
    li
      a.has-text-primary(href='/projects/{{category}}') {% translate category|safe language True %}
    | {% endfor %}
  h3 {% translate "Blog Categories" language True %}
  ul
    | {% for tag in blog_tags %}
    li
      a.has-text-primary(href='/tags/{{tag}}') {% translate tag|safe language True %}
    | {% endfor %}
span &nbsp;
