
<div class="content">
  <h3>{% translate "Project Categories" language True %}</h3>
  <ul>{%for category in project_categories%}
    <li><a class="has-text-primary" href="/projects/{{category}}">{% translate category|safe language True %}</a></li>{% endfor %}
  </ul>
  <h3>{% translate "Blog Categories" language True %}</h3>
  <ul>{% for tag in blog_tags %}
    <li><a class="has-text-primary" href="/tags/{{tag}}">{% translate tag|safe language True %}</a></li>{% endfor %}
  </ul>
</div><span>&nbsp;</span>