
@keyframes arrive
  0%
    left:-200px
  70%
    left:-10px
  100%
    left:0px

@keyframes move
  0%
    left:0px
  10%
    left:-5px
  100%
    left:1000px

@keyframes pulseIn
  0%
    opacity:0.0
  25%
    opacity:0.85
  100%
    opacity:0.0

@keyframes spooky
  0%
    transform: rotate(0deg)
  20%
    transform: rotate(40deg)
  35%
    transform: rotate(-35deg)
  45%
    transform: rotate(40deg)
  50%
    transform: rotate(-25deg)
  60%
    transform: rotate(30deg)
  80%
    transform: rotate(-15deg)
  100%
    transorm: rotate(0deg)

@keyframes swipe
  0%
    left: 0px
    bottom:0px
  30%
    bottom:7px
  50%
    left:-25px
    bottom:0px
  80%
    left:-5px
  100%
    left:200px

@keyframes unlock
  0%
    left: 0px
    bottom:0px
  30%
    bottom:7px
  50%
    left:-25px
    bottom:0px
  80%
    left:-5px
  100%
    left:200px
