/*imports*/
@import 'animations'

/*variables*/
$slideSize = 10px
$primaryColor = hsl(204, 86%,  80%)

/*global elements*/
hr
  @media(max-width:768px)
    height:1px

/*helper classes*/
.dark-mode
  background-color: #666

.justify-left
  justify-content:left

.is-one-quarter.break-tablet
  @media(max-width:1024px) and (min-width: 769px)
    width:33.333%

.pulse-in
  opacity: 0.0
  &.activate
    animation: pulseIn 6s forwards

.has-radius-small
  border-radius:3px

.has-underline
  text-decoration:underline

.has-nowrap
  white-space: nowrap

.has-break-all
  word-break: break-all

.has-margin-top
  margin-top:1rem

.icon
  margin-right:1rem

.is-truncated
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.has-items-aligned-center
  align-items:center

/*page sections*/
#home-link
  position:relative
  transform: rotate(0deg)
  &.arrive
    animation: arrive 2s forwards
  &.move
    animation: move 1.5s

#about-link
  position:relative
  left:0
  bottom: 0
  &.swipe
    animation: swipe 1.2s

#login-link
  position:relative
  left:0
  bottom: 0
  &.unlock
    animation: unlock 1.5s

.anim-spook
  transform: rotate(0deg)
  &.spook
    animation: spooky 2s forwards

.entry
  &.box
    padding-top:.75rem
  .level
    margin-bottom:.75rem
    @media (max-width:768px)
      .level-left + .level-right
          margin-top:0
  .image.is-square
    img
      min-width: 100%
      max-width: none
      width:auto
      max-height:none
    &.portrait
      img
        width:100%
        height:auto
        margin:auto
    &.landscape
      display:flex
      justify-content: center
      align-items: center
      img
        left:auto
        right:auto
  .title
    margin:.75rem 0 !important
  .is-featured-image
    margin-top:.25rem
  .buttons
    margin-top:.5rem

#project-content
  iframe
    width:100%
  .project-images
    img
      width:100%

a.repository
  h1.icon
    margin-bottom:0

ul.affiliate-links
  margin-left:.5rem
  li
    list-style-type: none

footer.footer
  padding-bottom:0
  a
    margin:0 5px
