@-moz-keyframes arrive {
  0% {
    left: -200px;
  }
  70% {
    left: -10px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes arrive {
  0% {
    left: -200px;
  }
  70% {
    left: -10px;
  }
  100% {
    left: 0px;
  }
}
@-o-keyframes arrive {
  0% {
    left: -200px;
  }
  70% {
    left: -10px;
  }
  100% {
    left: 0px;
  }
}
@keyframes arrive {
  0% {
    left: -200px;
  }
  70% {
    left: -10px;
  }
  100% {
    left: 0px;
  }
}
@-moz-keyframes move {
  0% {
    left: 0px;
  }
  10% {
    left: -5px;
  }
  100% {
    left: 1000px;
  }
}
@-webkit-keyframes move {
  0% {
    left: 0px;
  }
  10% {
    left: -5px;
  }
  100% {
    left: 1000px;
  }
}
@-o-keyframes move {
  0% {
    left: 0px;
  }
  10% {
    left: -5px;
  }
  100% {
    left: 1000px;
  }
}
@keyframes move {
  0% {
    left: 0px;
  }
  10% {
    left: -5px;
  }
  100% {
    left: 1000px;
  }
}
@-moz-keyframes pulseIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.85;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulseIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.85;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes pulseIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.85;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulseIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.85;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes spooky {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(40deg);
  }
  35% {
    transform: rotate(-35deg);
  }
  45% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(30deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transorm: rotate(0deg);
  }
}
@-webkit-keyframes spooky {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(40deg);
  }
  35% {
    transform: rotate(-35deg);
  }
  45% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(30deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transorm: rotate(0deg);
  }
}
@-o-keyframes spooky {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(40deg);
  }
  35% {
    transform: rotate(-35deg);
  }
  45% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(30deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transorm: rotate(0deg);
  }
}
@keyframes spooky {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(40deg);
  }
  35% {
    transform: rotate(-35deg);
  }
  45% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(30deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transorm: rotate(0deg);
  }
}
@-moz-keyframes swipe {
  0% {
    left: 0px;
    bottom: 0px;
  }
  30% {
    bottom: 7px;
  }
  50% {
    left: -25px;
    bottom: 0px;
  }
  80% {
    left: -5px;
  }
  100% {
    left: 200px;
  }
}
@-webkit-keyframes swipe {
  0% {
    left: 0px;
    bottom: 0px;
  }
  30% {
    bottom: 7px;
  }
  50% {
    left: -25px;
    bottom: 0px;
  }
  80% {
    left: -5px;
  }
  100% {
    left: 200px;
  }
}
@-o-keyframes swipe {
  0% {
    left: 0px;
    bottom: 0px;
  }
  30% {
    bottom: 7px;
  }
  50% {
    left: -25px;
    bottom: 0px;
  }
  80% {
    left: -5px;
  }
  100% {
    left: 200px;
  }
}
@keyframes swipe {
  0% {
    left: 0px;
    bottom: 0px;
  }
  30% {
    bottom: 7px;
  }
  50% {
    left: -25px;
    bottom: 0px;
  }
  80% {
    left: -5px;
  }
  100% {
    left: 200px;
  }
}
@-moz-keyframes unlock {
  0% {
    left: 0px;
    bottom: 0px;
  }
  5% {
    left: 2px;
    bottom: 2px;
  }
  16% {
    left: -5px;
    bottom: -5px;
  }
  20% {
    left: -5px;
    bottom: -5px;
  }
  28% {
    left: 2px;
    bottom: 2px;
  }
  34% {
    left: -4px;
    bottom: -4px;
  }
  40% {
    left: -4px;
    bottom: -4px;
  }
  44% {
    left: 0px;
    bottom: 0px;
  }
  62% {
    left: 2px;
    bottom: 2px;
  }
  70% {
    left: 2px;
    bottom: -1px;
  }
  76% {
    left: -1px;
    bottom: 2px;
  }
  82% {
    left: 2px;
    bottom: -1px;
  }
  100% {
    left: 4px;
    bottom: 4px;
  }
}
@-webkit-keyframes unlock {
  0% {
    left: 0px;
    bottom: 0px;
  }
  5% {
    left: 2px;
    bottom: 2px;
  }
  16% {
    left: -5px;
    bottom: -5px;
  }
  20% {
    left: -5px;
    bottom: -5px;
  }
  28% {
    left: 2px;
    bottom: 2px;
  }
  34% {
    left: -4px;
    bottom: -4px;
  }
  40% {
    left: -4px;
    bottom: -4px;
  }
  44% {
    left: 0px;
    bottom: 0px;
  }
  62% {
    left: 2px;
    bottom: 2px;
  }
  70% {
    left: 2px;
    bottom: -1px;
  }
  76% {
    left: -1px;
    bottom: 2px;
  }
  82% {
    left: 2px;
    bottom: -1px;
  }
  100% {
    left: 4px;
    bottom: 4px;
  }
}
@-o-keyframes unlock {
  0% {
    left: 0px;
    bottom: 0px;
  }
  5% {
    left: 2px;
    bottom: 2px;
  }
  16% {
    left: -5px;
    bottom: -5px;
  }
  20% {
    left: -5px;
    bottom: -5px;
  }
  28% {
    left: 2px;
    bottom: 2px;
  }
  34% {
    left: -4px;
    bottom: -4px;
  }
  40% {
    left: -4px;
    bottom: -4px;
  }
  44% {
    left: 0px;
    bottom: 0px;
  }
  62% {
    left: 2px;
    bottom: 2px;
  }
  70% {
    left: 2px;
    bottom: -1px;
  }
  76% {
    left: -1px;
    bottom: 2px;
  }
  82% {
    left: 2px;
    bottom: -1px;
  }
  100% {
    left: 4px;
    bottom: 4px;
  }
}
@keyframes unlock {
  0% {
    left: 0px;
    bottom: 0px;
  }
  5% {
    left: 2px;
    bottom: 2px;
  }
  16% {
    left: -5px;
    bottom: -5px;
  }
  20% {
    left: -5px;
    bottom: -5px;
  }
  28% {
    left: 2px;
    bottom: 2px;
  }
  34% {
    left: -4px;
    bottom: -4px;
  }
  40% {
    left: -4px;
    bottom: -4px;
  }
  44% {
    left: 0px;
    bottom: 0px;
  }
  62% {
    left: 2px;
    bottom: 2px;
  }
  70% {
    left: 2px;
    bottom: -1px;
  }
  76% {
    left: -1px;
    bottom: 2px;
  }
  82% {
    left: 2px;
    bottom: -1px;
  }
  100% {
    left: 4px;
    bottom: 4px;
  }
}
@media (max-width: 768px) {
  hr {
    height: 1px;
  }
}
.dark-mode {
  background-color: #666;
}
.justify-left {
  justify-content: left;
}
@media (max-width: 1024px) and (min-width: 769px) {
  .is-one-quarter.break-tablet {
    width: 33.333%;
  }
}
.pulse-in {
  opacity: 0;
}
.pulse-in.activate {
  animation: pulseIn 6s forwards;
}
.has-radius-small {
  border-radius: 3px;
}
.has-underline {
  text-decoration: underline;
}
.has-nowrap {
  white-space: nowrap;
}
.has-break-all {
  word-break: break-all;
}
.has-margin-top {
  margin-top: 1rem;
}
.icon {
  margin-right: 1rem;
}
.is-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#home-link {
  position: relative;
  transform: rotate(0deg);
}
#home-link.arrive {
  animation: arrive 2s forwards;
}
#home-link.move {
  animation: move 1.5s;
}
#about-link {
  position: relative;
  left: 0;
  bottom: 0;
}
#about-link.swipe {
  animation: swipe 1.2s;
}
#login-link {
  position: relative;
  left: 0;
  bottom: 0;
}
#login-link.unlock {
  animation: unlock 1.5s;
}
.anim-spook {
  transform: rotate(0deg);
}
.anim-spook.spook {
  animation: spooky 2s forwards;
}
.entry.box {
  padding-top: 0.75rem;
}
.entry .level {
  margin-bottom: 0.75rem;
}
@media (max-width: 768px) {
  .entry .level .level-left + .level-right {
    margin-top: 0;
  }
}
.entry .image.is-square img {
  min-width: 100%;
  max-width: none;
  width: auto;
  max-height: none;
}
.entry .image.is-square.portrait img {
  width: 100%;
  height: auto;
  margin: auto;
}
.entry .image.is-square.landscape {
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry .image.is-square.landscape img {
  left: auto;
  right: auto;
}
.entry .title {
  margin: 0.75rem 0 !important;
}
.entry .is-featured-image {
  margin-top: 0.25rem;
}
.entry .buttons {
  margin-top: 0.5rem;
}
ul.affiliate-links {
  margin-left: 0.5rem;
}
ul.affiliate-links li {
  list-style-type: none;
}
footer.footer {
  padding-bottom: 0;
}
footer.footer a {
  margin: 0 5px;
}
