@import 'animations'

$slideSize = 10px
$primaryColor = hsl(204, 86%,  80%)

hr
  @media(max-width:768px)
    height:1px

.dark-mode
  background-color: #666

.justify-left
  justify-content:left

.is-one-quarter.break-tablet
  @media(max-width:1024px) and (min-width: 769px)
    width:33.333%

.pulse-in
  opacity: 0.0
  &.activate
    animation: pulseIn 6s forwards

.anim-spook
  transform: rotate(0deg)
  &.spook
    animation: spooky 1.5s forwards

.has-radius-small
  border-radius:3px

.has-underline
  text-decoration:underline

.has-nowrap
  white-space: nowrap

.icon
  margin-right:1rem

#home-link
  position:relative
  left:-200px
  animation: arrive 2s forwards
  &.move
    animation: move 4s

.entry
  &.box
    padding-top:.75rem
  .level
    margin-bottom:.75rem
    @media (max-width:768px)
      .level-left + .level-right
          margin-top:0
  .image.is-square
    img
      min-width: 100%
      max-width: none
      width:auto
      max-height:none
    &.portrait
      img
        width:100%
        height:auto
        margin:auto
    &.landscape
      display:flex
      justify-content: center
      align-items: center
      img
        left:auto
        right:auto
  .title
    margin:.75rem 0 !important
  .is-featured-image
    margin-top:.25rem

ul.affiliate-links
  margin-left:.5rem
  li
    list-style-type: none
