|{% load static %}

|{% if config.in_location %}
.world.is-full-screen.has-fade-out(class="{{game.worldBg}} {{game.worldSize}}")
|{% endif %}

.brand-container.is-full-screen.is-flex.has-items-centered.has-fade-out
  img.is-size-brand.is-client-vcenter(src="{%static 'blog/images/fs_'|add:game.brandColor|add:'.svg' %}")

|{% if config.in_space %}
#space
|{% endif %}
