|{% extends 'blog/base.html' %}

|{% load static %}
|{% load blog_extras %}

| {% block extrahead %}
title First Studio | About
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 {% translate "About the Creative" language False %}
h2.subtitle.is-6 &nbsp;
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    .columns.is-multiline
      .column.is-two-thirds
        .content
          h2 {% translate "Jacob North!" language False %}
          p {% translate config.author_description|safe|striptags language False %}
          a(href="{{config.resume.url}}" target="_blank").has-text-dark: strong: em Grab that resume! <i class="fas fa-file-pdf"></i>
        .inline-icon-container
          h1.icon.subtitle.is-inline: a.has-text-dark(href="https://twitter.com/Jaynoco"): i.fab.fa-twitter
          h1.icon.subtitle.is-inline: a.has-text-dark(href="https://www.linkedin.com/in/jacobnorth/"): i.fab.fa-linkedin
          h1.icon.subtitle.is-inline: a.has-text-dark(href="https://www.instagram.com/metajake/"): i.fab.fa-instagram
          h1.icon.subtitle.is-inline: a.has-text-dark(href="https://www.github.com/metajake/"): i.fab.fa-github
        .columns.is-centered.is-mobile.is-hidden-tablet
          .column.is-11
            .content
              .image.has-margin-top
                img.has-radius-small(src="{{profile_picture.image.url}}")
              p.is-size-6.has-text-grey.is-italic {%translate profile_picture.caption|safe language False %}
        hr.has-background-grey-light
        .content
          h2 Affilations...
        .columns.is-mobile.is-centered
          .column.is-11
            .columns.is-variable.is-4-mobile.is-6-tablet.is-mobile.is-multiline.is-centered.is-vcentered
              |{% for affiliate in affiliates|shuffle %}
              .column.is-half-mobile.is-one-third-tablet.has-text-centered
                |{% if affiliate.link %}
                a(href="{{affiliate.link}}" target="_blank"): img(src="{{affiliate.brand.url}}")
                |{% else %}
                img(src="{{affiliate.brand.url}}")
                |{% endif %}
              |{% endfor %}
      .column.is-one-third.is-hidden-mobile
        .content
          .image
            img.has-radius-small(src="{{profile_picture.image.url}}")
          p.is-size-6.has-text-grey.is-italic {%translate profile_picture.caption|safe language False %}
      .column.is-full
  #sidebar.column
| {% endblock %}
