|{% extends 'blog/base.html' %}

|{% load static %}

| {% block extrahead %}
title First Studio | About
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 About The Creative
h2.subtitle.is-6 &nbsp;
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    .columns.is-multiline
      .column.is-two-thirds
        .content
          h2 Jayno Baby!..
          p {{config.author_description|safe}}
        .inline-icon-container
          h1.icon.subtitle.is-inline: a.has-text-dark(href="https://twitter.com/Jaynoco"): i.fab.fa-twitter
          h1.icon.subtitle.is-inline: a.has-text-dark(href="https://www.linkedin.com/in/jacobnorth/"): i.fab.fa-linkedin
          h1.icon.subtitle.is-inline: a.has-text-dark(href="https://www.instagram.com/metajake/"): i.fab.fa-instagram
      .column.is-one-third
        .image
          img(src="{{config.profile_picture.image.url}}")
      .column.is-full
  #sidebar.column
| {% endblock %}
