
{% extends 'blog/base.html' %}
{% load static %}
{% block extrahead %}
<title>First Studio | About</title>{% endblock %}
{% block masthead-headline %}
<h1 class="title is-2">About The Creative</h1>
<h2 class="subtitle is-6">&nbsp;</h2>{% endblock %}  
{% block main-content %}
<div class="columns">
  <div class="column is-four-fifths">
    <div class="columns is-multiline">
      <div class="column is-two-thirds">
        <div class="content">
          <h2>Jayno Baby!..</h2>
          <p>I'm 38. I'm an artist. I have a natural talent for illustration. I got my undergrads in Graphic Design. I studied Computer Software development starting with websites before getting into Python, C# and Unity3D. I am at my best in environments that welcome open, expressive honesty, but I'm also deadly serious about deadlines, expectations, and everyone going home with a paycheck.</p>
        </div>
        <div class="inline-icon-container">
          <h1 class="icon subtitle is-inline"><a class="has-text-dark" href="https://twitter.com/Jaynoco"><i class="fab fa-twitter"></i></a></h1>
          <h1 class="icon subtitle is-inline"><a class="has-text-dark" href="https://www.linkedin.com/in/jacobnorth/"><i class="fab fa-linkedin"></i></a></h1>
          <h1 class="icon subtitle is-inline"><a class="has-text-dark" href="https://www.instagram.com/metajake/"><i class="fab fa-instagram"></i></a></h1>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="image"><img src="{%static 'blog/images/jacob_north.jpg'%}"/></div>
      </div>
      <div class="column is-full"></div>
    </div>
  </div>
  <div class="column" id="sidebar"></div>
</div>{% endblock %}