|{% extends 'blog/base.html' %}

| {% block extrahead %}
title First Studio | About
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 About The Creator
h2.subtitle.is-6 &nbsp;
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    p about
  .column
    .content
      p soc
      p soc
| {% endblock %}
