|{% extends 'blog/base.html' %}

|{% load static %}
|{% load blog_extras %}

| {% block extrahead %}
title First Studio | About
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 {% translate "About the Creative" language False %}
h2.subtitle.is-6 &nbsp;
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    .columns.is-multiline
      .column.is-two-thirds
        .content
          h2 {% translate "Jayno Baby!.." language False %}
          p {% translate config.author_description|safe|striptags language False %}
        .inline-icon-container
          h1.icon.subtitle.is-inline: a.has-text-dark(href="https://twitter.com/Jaynoco"): i.fab.fa-twitter
          h1.icon.subtitle.is-inline: a.has-text-dark(href="https://www.linkedin.com/in/jacobnorth/"): i.fab.fa-linkedin
          h1.icon.subtitle.is-inline: a.has-text-dark(href="https://www.instagram.com/metajake/"): i.fab.fa-instagram
      .column.is-one-third
        .content
          .image
            img.has-radius-small(src="{{profile_picture.image.url}}")
          p.is-size-6.has-text-grey.is-italic {%translate profile_picture.caption|safe language False %}
      .column.is-full
  #sidebar.column
| {% endblock %}
