| {% load static %}
doctype html

html
  head
    include includes/base_head.pug
    |{% block extrahead %}
    |{% endblock %}
    
  body(class="{%block body_class%}{%endblock%}")
    |{%block body_intro %}
    |{%endblock %}
    header.hero.is-primary.is-small
      .hero-body
        .container
          .columns
            .column.is-four-fifths.inline-icon-spacing
              | {% block masthead-headline %}
              | {% endblock %}
              include includes/base_nav.pug
            .column
              |{% block masthead-sidebar %}
              |{% endblock %}
                  
    section.section
      .container
        | {% block main-content %}
        | {% endblock %}
        
    footer.footer
      .columns.is-multiline
        .column.has-text-centered.is-full
          a(href="http://djangoproject.com/")
          img(src="{% static 'blog/assets/djangojoint107x25_green.gif' %}" alt="Made with Django" width="99" height="23")
          a(href="https://bulma.io")
            img(src="{% static 'blog/assets/made_with_bulma_white.png' %}" alt="Made with Bulma" width="128" height="24")
        .column.has-text-centered.is-full.is-paddingless
          a(href="https://pugjs.org/")
            img(src="{% static 'blog/assets/pug.svg' %}" alt="Made with PugJS" width="26")
              
    |{% block prescript %}
    |{% endblock %}
    include includes/base_footer.pug
    |{% block postscript %}
    |{% endblock %}
