| {% load static %}
doctype html

html
  head
    include includes/base_head.pug
    |{% block extrahead %}
    |{% endblock %}
    
  body(class="{%if config.rpg_active %}can-exist{%endif%}")
    |{% if config.rpg_active %}
    |{% include 'rpg/includes/rpg_base.html' %}
    |{% endif %}
    |{% if config.zweihander %}
    |{% include 'rpg/includes/rpg_space.html' %}
    |{% endif %}
    header.hero.is-primary.is-small
      .hero-body
        .container
          .columns
            .column.is-four-fifths.inline-icon-spacing
              | {% block masthead-headline %}
              | {% endblock %}
              include includes/base_nav.pug
            .column
              |{% block masthead-sidebar %}
              |{% endblock %}
                  
    section.section
      .container
        | {% block main-content %}
        | {% endblock %}
          
    //- footer.footer
    //-   .container
    //-     |{% block footer-content %}
    //-     |{% endblock %}
              
    |{% block prescript %}
    |{% endblock %}
    include includes/base_footer.pug
    |{% block postscript %}
    |{% endblock %}
