| {% load static %}
doctype html

html
  head
    include includes/base_head.pug
    |{% block extrahead %}
    |{% endblock %}
  body(class="{{existance}}")
    |{% if existance %}
    .world.sunset
    |{% endif %}
    header.hero.is-primary.is-small
      .hero-body
        .container
          .columns
            .column.is-four-fifths
              | {% block masthead-headline %}
              | {% endblock %}
              include includes/base_nav.pug
            .column
              |{% block masthead-sidebar %}
              |{% endblock %}
                  
    section.section
      .container
        | {% block main-content %}
        | {% endblock %}
        
    |{% block prescript %}
    |{% endblock %}
    include includes/base_footer.pug
    |{% block postscript %}
    |{% endblock %}
