| {% load static %}
doctype html

html
  include includes/head.pug
  body
    section.hero.is-primary
      .hero-body
        .container
          .columns
            .column.is-four-fifths
              | {% block masthead %}
              | {% endblock %}
              h1.subtitle.is-inline: a#home-link(href="{% url 'blog-home' %}"): i.fab.fa-accessible-icon
              h1.subtitle.is-inline: a(href="/admin"): i.fas.fa-key
            .column
          
    section
      .container
        | {% block main-content %}
        | {% endblock %}
        
    include includes/footer.pug
