
{% extends 'blog/base.html' %}
{% block masthead %}
<h1 class="title is-1">{{entry.title}}</h1>
<h2 class="subtitle">&nbsp;</h2>{% endblock %}
{% block main-content %}
<div class="columns">
  <div class="column is-three-quarters">
    {{entry.body|safe}}
    <a id="tweet" class="button is-link is-small">Tweet this</a>
  </div>
  <div class="column">
    <ul></ul>{% for tag in tags %}
    <li><a href="tags/{{tag}}">{{tag}}</a></li>{% endfor %}
  </div>
</div>{% endblock %}
{% block extrascript %}
<script>
  $('#tweet').click(function(e){
    $.ajax({
      type: "POST",
      url: '/ajax/tweet-entry/',
      data: {
        'content' : 'The content',
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      //- datatype: 'json',
      success: function(data){
        console.log('success!')
      },
    })
  })
</script>{% endblock %}