| {% extends 'blog/base.html' %}

| {% load blog_extras %}

| {% block extrahead %}
title {% translate "First Studio" language True %} | {% translate tag.tagslug|safe language True %}
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 {{headline|capfirst}}{{entries.count|pluralize}}
h2.subtitle.is-6 {{headline.summary|default:"&nbsp;"}}
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    //- include file takes {{entries}}
    include includes/entrylist.pug
      
  .column
    //- include file takes {{entries}}
    include includes/taglist.pug
| {% endblock %}
span &nbsp;
