| {% extends 'blog/base.html' %}

| {% block extrahead %}
title First Studio | {{entry.title}}
meta(name="description" content="")
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@jaynoco")
meta(name="twitter:creator" content="@jaynoco")
meta(property="og:url" content="")
meta(property="og:title" content="{{entry.title}}")
meta(property="og:description" content="")
meta(property="og:image" content="https://i.imgur.com/HaSkdQA.jpg")
| {% endblock %}

| {% block masthead %}
h1.title.is-2 {{entry.title}}
h2.subtitle.is-5 &nbsp;
| {% endblock %}

| {% block main-content %}
.columns
  .column.is-three-quarters.
    {{entry.body|safe}}
    <a id="tweet-entry" class="button is-link is-small">Tweet this</a>
  .column
    include includes/taglist.pug
| {% endblock %}

| {% block extrascript %}
script.
  $('meta[property="og:url"]').attr('content', window.location.href)
  $('meta[property="og:description"], meta[name="description"]').attr('content', $("{{entry.body|safe}}").text().slice(0,155) )
  
  $('#tweet-entry').click(function(e){
    $.ajax({
      type: "POST",
      url: '/ajax/tweet-entry/',
      data: {
        'ajax' : 'True',
        'title' : '{{entry.title}}',
        'slug' : '{{entry.slug}}',
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      /* datatype: 'json',
      success: function(data){
        console.log('success!')
      }, */
    })
  })
| {% endblock %}
