| {% extends 'blog/base.html' %}

| {% block extrahead %}
title First Studio | {{entry.title}}
meta(name="description" content="{{entry.description|safe|slice:':155'}}")
meta(name="twitter:card" content="{{entry.weapon_type}}")
meta(name="twitter:description" content="{{entry.description|safe|slice:':155'}}")
meta(name="twitter:site" content="@jaynoco")
meta(name="twitter:creator" content="@jaynoco")
meta(property="og:url" content="http:firststudio.co/entry/{{entry.slug}}")
meta(property="og:title" content="{{entry.title}}")
meta(property="og:description" content="{{entry.description|safe|slice:':155'}}")
|{% if entry.weapon_type == 'summary_large_image'%}
|{% for work in entry.images.all %}{% if forloop.first %}
meta(property="twitter:image" content="http:firststudio.co/media/{{ work.image.url }}")
|{% endif %}{% endfor %}
|{% else %}
meta(property="og:image" content="https://i.imgur.com/HaSkdQA.jpg")
|{% endif %}
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 {{entry.title}}
h2.subtitle.is-6 &nbsp;
| {% endblock %}

| {% block main-content %}
.columns
  .column.is-three-quarters
    .content.
      {{entry.richbody|safe}}
      {% if user.is_authenticated %}
      <a id="tweet-entry" class="button is-link is-small">Tweet v<span id="tweet-version-increment">{{entry.tweet_version|add:"1"}}</span></a>
      {% endif %}
  .column
    include includes/taglist.pug
| {% endblock %}

| {% block postscript %}
script.

  function mouseMoveInteraction(){
    if (enableExpHandler) {
      gameLife += 1
      enableExpHandler = false;
    }
  }
  
  $('#tweet-entry').click(function(e){
    $.ajax({
      type: "POST",
      url: '/ajax/tweet-entry/',
      data: {
        'ajax' : 'True',
        'title' : '{{entry.title}}',
        'slug' : '{{entry.slug}}',
        'tweet_version' : '{{entry.tweet_version}}',
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function(data){
        $('#tweet-version-increment').html()
        $('#tweet-version-increment').html(parseInt(data)+1)
      },
    })
  })
| {% endblock %}
