
{% extends 'blog/base.html' %}
{% block extrahead %}
<title>First Studio | {{entry.title}}</title>
<meta name="description" content="{{entry.description|safe|slice:':155'}}"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="{{entry.description|safe|slice:':155'}}"/>
<meta name="twitter:site" content="@jaynoco"/>
<meta name="twitter:creator" content="@jaynoco"/>
<meta property="og:url" content="http:firststudio.co/entry/{{entry.slug}}"/>
<meta property="og:title" content="{{entry.title}}"/>
<meta property="og:description" content="{{entry.description|safe|slice:':155'}}"/>
<meta property="og:image" content="https://i.imgur.com/HaSkdQA.jpg"/>{% endblock %}
{% block masthead-headline %}
<h1 class="title is-2">{{entry.title}}</h1>
<h2 class="subtitle is-6">&nbsp;</h2>{% endblock %}
{% block main-content %}
<div class="columns">
  <div class="column is-three-quarters">
    <div class="content">
      {{entry.richbody|safe}}
      {% if user.is_authenticated %}
      <a id="tweet-entry" class="button is-link is-small">Tweet v<span id="tweet-version-increment">{{entry.tweet_version|add:"1"}}</span></a>
      {% endif %}
    </div>
  </div>
  <div class="column">
    <h3>Categories</h3>
    <ul>{% for tag in tags %}
      <li><a href="/tags/{{tag}}">
          {{tag}}{% endfor %}</a></li>
    </ul>
  </div>
</div>{% endblock %}
{% block extrascript %}
<script>
  $('#tweet-entry').click(function(e){
    $.ajax({
      type: "POST",
      url: '/ajax/tweet-entry/',
      data: {
        'ajax' : 'True',
        'title' : '{{entry.title}}',
        'slug' : '{{entry.slug}}',
        'tweet_version' : '{{entry.tweet_version}}',
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function(data){
        $('#tweet-version-increment').html()
        $('#tweet-version-increment').html(parseInt(data)+1)
      },
    })
  })
</script>{% endblock %}