| {% extends 'blog/base.html' %}

| {% block extrahead %}
title First Studio | {{entry.title}}
meta(name="description" content="{{entry.body|safe|slice:':155'}}")
meta(name="twitter:card" content="summary")
meta(name="twitter:description" content="{{entry.body|safe|slice:':155'}}")
meta(name="twitter:site" content="@jaynoco")
meta(name="twitter:creator" content="@jaynoco")
meta(property="og:url" content="http:firststudio.co/entry/{{entry.slug}}")
meta(property="og:title" content="{{entry.title}}")
meta(property="og:description" content="{{entry.body|safe|slice:':155'}}")
meta(property="og:image" content="https://i.imgur.com/HaSkdQA.jpg")
| {% endblock %}

| {% block masthead %}
h1.title.is-2 {{entry.title}}
h2.subtitle.is-5 &nbsp;
| {% endblock %}

| {% block main-content %}
.columns
  .column.is-three-quarters.
    {{entry.body}}
    <a id="tweet-entry" class="button is-link is-small">Tweet this</a>
  .column
    include includes/taglist.pug
| {% endblock %}

| {% block extrascript %}
script.
  $('#tweet-entry').click(function(e){
    $.ajax({
      type: "POST",
      url: '/ajax/tweet-entry/',
      data: {
        'ajax' : 'True',
        'title' : '{{entry.title}}',
        'slug' : '{{entry.slug}}',
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      /* datatype: 'json',
      success: function(data){
        console.log('success!')
      }, */
    })
  })
| {% endblock %}
