
{% extends 'blog/base.html' %}
{% block extrahead %}
<title>First Studio | Blog</title>{% endblock %}
{% block masthead-headline %}
<h1 class="title is-2">First Studio.Co</h1>
<h2 class="subtitle is-6">The Interactive Work of Jacob North</h2>{% endblock %}  
{% block main-content %}
<div class="columns">
  <div class="column is-four-fifths">
    {% load blog_extras %}
    {% if config.entry_sorting == 'columns'%}
    <div class="columns is-multiline">{% for entry in entries reversed %}
      <div class="column is-one-third-desktop is-half-tablet">{% if entry|to_class_name == 'Entry' %}<a href="/entry/{{entry.slug}}">
          <div class="box entry">
            <div class="level is-mobile">
              <div class="level-left"><small class="is-size-7">{%if entry.category%}{{entry.category|capfirst}}{%else%}Uncategorized{%endif%}</small></div>
              <div class="level-right"><small class="is-size-7">{{entry.created}}</small></div>
            </div>{% if entry.featured_image %}
            <div class="image is-square is-clipped has-radius-small {{ entry.featured_image.image|orientation }}"><img src="{{ entry.featured_image.image.url }}" alt="{{entry.featured_image.image.caption}}" title="{{entry.featured_image.image.title}}"/></div>{% endif %}
            <h3 class="title is-4">{{entry.title}} </h3>
            <p class="is-marginless">{{entry.description|safe|truncatewords:5}}</p>
          </div></a>{% elif entry|to_class_name == 'Project' %}<a href="/project/{{entry.slug}}">
          <div class="box entry"><small class="is-size-7">{{entry|to_class_name}} - {%if entry.category%}{{entry.category|capfirst}}{%else%}Uncategorized{%endif%}</small>{% if entry.featured_image %}
            <div class="image is-square is-clipped has-radius-small {{ entry.featured_image.image|orientation }}"><img src="{{ entry.featured_image.image.url }}" alt="{{entry.featured_image.image.caption}}" title="{{entry.featured_image.image.title}}"/></div>{% endif %}
            <h3 class="title is-4">{{entry.title}} </h3>
            <p class="is-marginless">{{entry.description|safe|truncatewords:5}}</p>
          </div></a>{% endif %}</div>{% endfor %}
    </div>{% elif config.entry_sorting == 'tiles' %}
    <div class="tile is-ancestor">
      <div class="tile is-parent is-12 is-vertical">{% for entry in entries %}
        <artice class="tile is-6 is-child box">
          <p>{{entry.title}}</p>{% if entry.featured_image.image %}<img class="has-radius-small" src="{{entry.featured_image.image.url}}"/>{% endif %}
        </artice>{% endfor %}
      </div>
    </div>{% endif %}
  </div>
  <div class="column">
    <div class="content">
      <h3>Project Categories</h3>
      <ul>{%for category in project_categories%}
        <li><a class="has-text-primary" href="/projects/{{category}}">{{category}}</a></li>{% endfor %}
      </ul>
      <h3>Blog Categories</h3>
      <ul>{% for tag in blog_tags %}
        <li><a class="has-text-primary" href="/tags/{{tag}}">{{tag}}</a></li>{% endfor %}
      </ul>
    </div>
  </div>
</div>{% endblock %}
{% block footer-content %}
<div class="content">
  <div class="colums">
    <div class="column is-full">
      <p>easter egg</p>
    </div>
  </div>
</div>{% endblock %}