| {% extends 'blog/base.html' %}

| {% load blog_extras %}
| {% load static %}

| {% block extrahead %}
title {% translate "First Studio" language True %} | Jacob North
| {% endblock %}

|{%block body_class%}
|{%if config.rpg_active %}has-location{%endif%}
|{%endblock%}

|{%block body_intro%}
|{% if config.rpg_active %}
|{% include 'rpg/includes/rpg_base.html' %}
|{% endif %}
|{%endblock%}

| {% block masthead-headline %}
h1.title.is-2 {% translate "First Studio" language True %}.Co
h2.subtitle.is-6 {% translate "The Interactive Work of" language True %} Jacob North
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    //- include expects {{entries}}
    include includes/entrylist.pug
  .column
    include includes/taglist.pug
| {% endblock %}

|{% block postscript %}
|{% if config.rpg_active %}

|{% if config.in_space %}
script(src="{% static 'js/three.min.js' %}")
script(src="{% static 'rpg/js/rpg_three.js' %}")
|{% endif %}

|{% if config.in_location %}
script(src="{% static 'rpg/js/location.js'%}")
|{% endif %}

|{% endif %}
|{% endblock %}
span &nbsp;
