| {% extends 'blog/base.html' %}

| {% load blog_extras %}

| {% block extrahead %}
title {% translate "First Studio" language True %} | Jacob North
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 {% translate "First Studio" language True %}.Co
h2.subtitle.is-6 {% translate "The Interactive Work of" language True %} Jacob North
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    //- include expects {{entries}}
    include includes/entrylist.pug
  .column
    include includes/taglist.pug
| {% endblock %}
