| {% extends 'blog/base.html' %}
| {% url 'blog-home' as home %}

| {% block extrahead %}
title First Studio | Blog
| {% endblock %}

| {% block masthead-headline %}
a(href="{{home}}"): h1.title.is-2 First Studio.Co
a(href="{{home}}"): h2.subtitle.is-6 The Interactive Work of Jacob North
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    include includes/entrylist.pug
  .column
    include includes/taglist.pug
    include ajax/game/rpg_update.pug
| {% endblock %}
