
{% extends 'blog/base.html' %}
{% block extrahead %}
<title>First Studio | Blog</title>{% endblock %}
{% block masthead-headline %}
<h1 class="title is-2">First Studio.Co</h1>
<h2 class="subtitle is-6">The Interactive Work of Jacob North</h2>{% endblock %}  
{% block main-content %}
<div class="columns">
  <div class="column is-four-fifths">{% if config.entry_sorting == 'columns'%}
    <div class="columns is-multiline">{% for entry in entries reversed %}
      <div class="column is-one-third"><a href="/entry/{{entry.slug}}">
          <div class="card entry">{% if entry.featured_image %}
            <div class="card-image">
              <div class="figure image is-square"><img src="{{ entry.featured_image.image.url }}"/></div>
            </div>{% endif %}
            <div class="card-content">
              <div class="content">
                <h3 class="title is-4">{{entry.title}} </h3>
                <h4 class="subtitle is-6">{{entry.richbody | safe | truncatewords:7}}</h4>
              </div>
            </div>
            <footer class="card-footer">
              <div class="card-footer-item justify-left">
                <p>{{entry.created}}</p>
              </div>
            </footer>
          </div></a></div>{% endfor %}
    </div>{% elif config.entry_sorting == 'tiles' %}
    <div class="tile is-ancestor">
      <div class="tile is-parent is-12 is-vertical">{% for entry in entries %}
        <artice class="tile is-6 is-child box">
          <p>{{entry.title}}</p>{% if entry.featured_image.image %}<img src="{{entry.featured_image.image.url}}"/>{% endif %}
        </artice>{% endfor %}
      </div>
    </div>{% endif %}
  </div>
  <div class="column">
    <div class="content">
      <h3>Categories</h3>
      <ul>{% for tag in tags %}
        <li><a href="/tags/{{tag}}">{{tag}}</a></li>{% endfor %}
      </ul>
    </div>
  </div>
</div>{% endblock %}