
{% extends 'blog/base.html' %}
{% block masthead %}
<h1 class="title is-2">First Studio.Co</h1>
<h2 class="subtitle is-6">The Interactive Work of Jacob North</h2>{% endblock %}  
{% block main-content %}
<div class="columns">
  <div class="column is-four-fifths">{% for entry in entries %}
    <article>
      <h3><a href="entry/{{entry.slug}}">{{entry.title}} </a></h3>
    </article>{% endfor %}
  </div>
  <div class="column">
    <ul></ul>{% for tag in tags %}
    <li><a href="tags/{{tag}}">{{tag}}</a></li>{% endfor %}
  </div>
</div>{% endblock %}