| {% extends 'blog/base.html' %}

| {% block extrahead %}
title First Studio | Blog
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 First Studio.Co
h2.subtitle.is-6 The Interactive Work of Jacob North
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    //- takes {{entries}}
    include includes/entrylist.pug
  .column
    .content
      include includes/taglist.pug
      include ajax/game/rpg_update.pug
| {% endblock %}
