| {% extends 'blog/base.html' %}

| {% block extrahead %}
title First Studio | Blog
| {% endblock %}

| {% block masthead-headline %}
a(href="/"): h1.title.is-2 First Studio.Co
a(href="/"): h2.subtitle.is-6 The Interactive Work of Jacob North
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    | {% for entry in entries %}
    article
      h3: a(href="entry/{{entry.slug}}") {{entry.title}} 
    | {% endfor %}
  .column.is-one-fifth
    include includes/taglist.pug
| {% endblock %}
