| {% extends 'blog/base.html' %}

| {% block extrahead %}
title First Studio | Journal
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 Journal Entries
h2.subtitle.is-6 Thoughts, musings, and ramblings...
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    include includes/entrylist.pug
  .column
    .content
      include includes/taglist.pug
| {% endblock %}
