|{% extends 'blog/base.html' %}

|{% load static %}
|{% load blog_extras %}

| {% block extrahead %}
title First Studio | {{project.title}}
link(rel="stylesheet" href="{% static 'blog/css/microlight.css' %}")
|{% endblock %}

|{% block masthead-headline %}
h1.title.is-2 {{project.title}}
h2.subtitle.is-6 {{project.category|capfirst}}
| {% endblock %}

| {% block main-content %}
.columns
  .column.is-three-quarters.is-multiline#project-content
    .column.is-full
      .columns
        .column.is-one-third
          img(src="{{project_body_image.image.url}}")
        .column.is-two-thirds
          .content.
            {{project.description|safe}}
          |{%if project.youtube_videos %}
          include includes/project_videos.pug
          |{% endif %}
      .buttons
        |{% for tag in project.tags.all %}
        button.button.is-static.is-small.is-rounded.has-background-info.has-text-white.has-text-weight-bold {{tag.tag_name}}
        |{% endfor %}
    |{%if project.images.count %}
    .column.project-images.is-full
      .columns.is-mobile.is-multiline
        .column.is-full
          hr.has-background-grey-light
        |{% for i in project.images.all|shuffle %}
        .column.is-full-mobile(class="is-{% cycle column_sizes|random '' %}-tablet")
          img.has-radius-small(src="{{i.image.url}}")
        |{% endfor %}
    |{%endif%}
    |{%if project.repository or project.affiliate_links %}
    .column.is-full.is-hidden-tablet
      hr.has-background-grey-light
      include includes/project_stats.pug
    |{% endif %}
    |{%if project.entry_set.count %}
    .column.is-full
      .columns.is-mobile.is-multiline
        .column.is-full
          hr.has-background-grey-light
          h3.title.is-4 Related Posts
        |{% for e in project.entry_set.all %}
        .column.is-half-mobile.is-one-third-tablet
          a(href="/entry/{{e.slug}}")
            .box.entry
              .level
                .level-left
                  small.is-size-7 {%if e.category%}{{e.category|capfirst}}{%else%}Uncategorized{%endif%}
                .level-right
                  small.is-size-7 {{e.created.date}}
              |{% if e.featured_image %}
              .image.is-square.is-clipped.has-radius-small(class="{{ e.featured_image.image|orientation }}")
                img(src="{{ e.featured_image.image.url }}")
              |{% endif %}
              h3.title.is-5 {{e.title}} 
        |{% endfor %}
    |{%endif%}
  .column.is-hidden-mobile.is-truncated
    include includes/project_stats.pug
| {% endblock %}

|{% block prescript%}
script(src="{% static 'blog/js/microlight.js' %}")
|{% endblock %}
