| {% extends 'blog/base.html' %}

| {% block extrahead %}
title First Studio | {{tag.tagslug}}
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 {{headline|capfirst}}
h2.subtitle.is-6 {{headline.summary}}
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    //- takes {{entries}}
    include includes/entrylist.pug
      
  .column
    include includes/taglist.pug
| {% endblock %}
