
{% extends 'blog/base.html' %}
{% block extrahead %}
<title>First Studio | {{tag.tagslug}}</title>{% endblock %}
{% block masthead-headline %}
<h1 class="title is-2">{{tag.tagslug|capfirst}}</h1>
<h2 class="subtitle is-6">{{tag.summary}}</h2>{% endblock %}  
{% block main-content %}
<div class="columns">
  <div class="column is-four-fifths">{% if config.entry_sorting == 'columns'%}
    <div class="columns is-multiline">{% for entry in entries reversed %}
      <div class="column is-one-third"><a href="/entry/{{entry.slug}}">
          <div class="card">{% for work in entry.images.all %}{% if forloop.first %}
            <div class="card-image">
              <div class="figure image is-4by3"><img src="{{ work.image.url }}"/></div>
            </div>{% endif %}{% endfor %}
            <div class="card-content">
              <div class="content">
                <h3 class="title is-4">{{entry.title}} </h3>
                <h4 class="subtitle is-6">{{entry.richbody | safe | truncatewords:7}}</h4>
              </div>
            </div>
            <footer class="card-footer">
              <div class="card-footer-item justify-left">
                <p>{{entry.created}}</p>
              </div>
            </footer>
          </div></a></div>{% endfor %}
    </div>{% elif config.entry_sorting == 'tiles' %}
    <div class="tile is-ancestor is-vertical">
      {% for entry in entries %}
      {% if forloop.first %}<div class="tile">{% endif %}
      <div class="tile is-parent">
        <artice class="tile is-child box">
          <p>{{entry.title}}</p>{% if entry.featured_image %}<img src="{{entry.featured_image.image.url}}"/>{% endif %}
        </artice>
      </div>{% if forloop.counter|divisibleby:"3" %}</div><div class="tile">{% endif %}
      {% if forloop.last %}</div>{% endif %}
      {% endfor %}
    </div>{% endif %}
  </div>
  <div class="column">
    <h3>Categories</h3>
    <ul>{% for tag in tags %}
      <li><a href="/tags/{{tag}}">{{tag}}</a></li>{% endfor %}
    </ul>
  </div>
</div>{% endblock %}