| {% extends 'blog/base.html' %}

| {% block extrahead %}
title First Studio | Blog | {{tag}}
| {% endblock %}

| {% block masthead-headline %}
h1.title.is-2 {{tag}}
h2.subtitle.is-6 &nbsp;
| {% endblock %}  
  
| {% block main-content %}
.columns
  .column.is-four-fifths
    include includes/entrylist.pug
      
  .column
    include includes/taglist.pug
| {% endblock %}
