
{% extends 'blog/base.html' %}
{% block extrahead %}
<title>First Studio | Blog | {{tag}}</title>{% endblock %}
{% block masthead %}
<h1 class="title is-2">{{tag}}</h1>
<h2 class="subtitle is-5">&nbsp;</h2>{% endblock %}  
{% block main-content %}
<div class="columns">
  <div class="column is-four-fifths">{% for entry in entries %}
    <article>
      <h3><a href="/entry/{{entry.slug}}">{{entry.title}} </a></h3>
    </article>{% endfor %}
  </div>
  <div class="column">
    <ul></ul>{% for tag in tags %}
    <li><a href="/tags/{{tag}}">{{tag}}</a></li>{% endfor %}
  </div>
</div>{% endblock %}