$gameOverTransition = 3s
$runSpeed = 3s
$lungCapacity = 20s
$tension = 12s

.has-location > header, .has-location > section, .has-location > footer
  opacity:0.0
  transition: opacity $gameOverTransition
  pointer-events:none
  &.fade-in
    opacity: 1.0
    transition: opacity $gameOverTransition
  & > *
    opacity: 0.0
    transition: opacity $gameOverTransition
    &.fade-in
      opacity: 1.0
      transition: opacity $gameOverTransition

.world
  transition:opacity $gameOverTransition, background-size $runSpeed, background-position $runSpeed
  z-index: -3
  &.is-size-outdoors
    animation:breathe $lungCapacity infinite
    @media(max-width:768px)
      animation: breathe 15s infinite
    background-size: 400% 400%
  &.is-size-indoors
    animation:flex $tension infinite
    @media(max-width:768px)
      animation: flex 10s infinite
    background-size: 100% 100%
    background-position:35% 0%
