.sunset {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1565c0, #b92b27); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#1565c0), to(#b92b27));
  background: -webkit-linear-gradient(bottom, #1565c0, #b92b27);
  background: -o-linear-gradient(bottom, #1565c0, #b92b27);
  background: linear-gradient(to top, #1565c0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.meteor {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#2c5364), color-stop(#203a43), to(#0f2027));
  background: -webkit-linear-gradient(top, #2c5364, #203a43, #0f2027);
  background: -o-linear-gradient(top, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.grade-grey {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#2c3e50), to(#bdc3c7));
  background: -webkit-linear-gradient(top, #2c3e50, #bdc3c7);
  background: -o-linear-gradient(top, #2c3e50, #bdc3c7);
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cool-blue {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#6dd5ed), to(#2193b0));
  background: -webkit-linear-gradient(top, #6dd5ed, #2193b0);
  background: -o-linear-gradient(top, #6dd5ed, #2193b0);
  background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ocean {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4286f4, #373b44); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#4286f4), to(#373b44));
  background: -webkit-linear-gradient(top, #4286f4, #373b44);
  background: -o-linear-gradient(top, #4286f4, #373b44);
  background: linear-gradient(to bottom, #4286f4, #373b44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.clear-sky {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fff, #6dd5fa, #2980b9); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#6dd5fa), to(#2980b9));
  background: -webkit-linear-gradient(top, #fff, #6dd5fa, #2980b9);
  background: -o-linear-gradient(top, #fff, #6dd5fa, #2980b9);
  background: linear-gradient(to bottom, #fff, #6dd5fa, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.azure-lane {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #91eae4, #86a8e7, #7f7fd5); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#91eae4), color-stop(#86a8e7), to(#7f7fd5));
  background: -webkit-linear-gradient(top, #91eae4, #86a8e7, #7f7fd5);
  background: -o-linear-gradient(top, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to bottom, #91eae4, #86a8e7, #7f7fd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.witching-hour {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #240b36, #c31432); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#240b36), to(#c31432));
  background: -webkit-linear-gradient(top, #240b36, #c31432);
  background: -o-linear-gradient(top, #240b36, #c31432);
  background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.old-bubblegum {
  background: #5939d4;
  background: -webkit-linear-gradient(90deg, #5939d4 0%, #5939d4 14%, #6f42d3 14%, #6f42d3 24%, #e172cd 24%, #e172cd 37%, #422fd5 37%, #422fd5 40%, #9d55d0 40%, #9d55d0 45%, #b45fcf 45%, #b45fcf 60%, #864cd2 60%, #864cd2 61%, #ca68ce 61%, #ca68ce 100%);
  background: -webkit-gradient(linear, left top, right top, from(#5939d4), color-stop(14%, #5939d4), color-stop(14%, #6f42d3), color-stop(24%, #6f42d3), color-stop(24%, #e172cd), color-stop(37%, #e172cd), color-stop(37%, #422fd5), color-stop(40%, #422fd5), color-stop(40%, #9d55d0), color-stop(45%, #9d55d0), color-stop(45%, #b45fcf), color-stop(60%, #b45fcf), color-stop(60%, #864cd2), color-stop(61%, #864cd2), color-stop(61%, #ca68ce), to(#ca68ce));
  background: -webkit-linear-gradient(left, #5939d4 0%, #5939d4 14%, #6f42d3 14%, #6f42d3 24%, #e172cd 24%, #e172cd 37%, #422fd5 37%, #422fd5 40%, #9d55d0 40%, #9d55d0 45%, #b45fcf 45%, #b45fcf 60%, #864cd2 60%, #864cd2 61%, #ca68ce 61%, #ca68ce 100%);
  background: -o-linear-gradient(left, #5939d4 0%, #5939d4 14%, #6f42d3 14%, #6f42d3 24%, #e172cd 24%, #e172cd 37%, #422fd5 37%, #422fd5 40%, #9d55d0 40%, #9d55d0 45%, #b45fcf 45%, #b45fcf 60%, #864cd2 60%, #864cd2 61%, #ca68ce 61%, #ca68ce 100%);
  background: linear-gradient(90deg, #5939d4 0%, #5939d4 14%, #6f42d3 14%, #6f42d3 24%, #e172cd 24%, #e172cd 37%, #422fd5 37%, #422fd5 40%, #9d55d0 40%, #9d55d0 45%, #b45fcf 45%, #b45fcf 60%, #864cd2 60%, #864cd2 61%, #ca68ce 61%, #ca68ce 100%);
}
.pomegranite {
  background: #ef0781;
  background: -webkit-linear-gradient(45deg, #ef0781 0%, #ef0781 6%, #d00a70 6%, #d00a70 25%, #b10d60 25%, #b10d60 40%, #93104f 40%, #93104f 45%, #74133e 45%, #74133e 53%, #55162e 53%, #55162e 66%, #36191d 66%, #36191d 100%);
  background: -o-linear-gradient(45deg, #ef0781 0%, #ef0781 6%, #d00a70 6%, #d00a70 25%, #b10d60 25%, #b10d60 40%, #93104f 40%, #93104f 45%, #74133e 45%, #74133e 53%, #55162e 53%, #55162e 66%, #36191d 66%, #36191d 100%);
  background: linear-gradient(45deg, #ef0781 0%, #ef0781 6%, #d00a70 6%, #d00a70 25%, #b10d60 25%, #b10d60 40%, #93104f 40%, #93104f 45%, #74133e 45%, #74133e 53%, #55162e 53%, #55162e 66%, #36191d 66%, #36191d 100%);
}
.hazy-morning {
  background: #1034de;
  background: -webkit-linear-gradient(135deg, #1034de 0%, #1034de 6%, #294ddf 6%, #294ddf 18%, #4367e0 18%, #4367e0 30%, #5c80e1 30%, #5c80e1 31%, #7599e3 31%, #7599e3 37%, #8eb2e4 37%, #8eb2e4 41%, #a8cce5 41%, #a8cce5 69%, #c1e5e6 69%, #c1e5e6 100%);
  background: -webkit-linear-gradient(315deg, #1034de 0%, #1034de 6%, #294ddf 6%, #294ddf 18%, #4367e0 18%, #4367e0 30%, #5c80e1 30%, #5c80e1 31%, #7599e3 31%, #7599e3 37%, #8eb2e4 37%, #8eb2e4 41%, #a8cce5 41%, #a8cce5 69%, #c1e5e6 69%, #c1e5e6 100%);
  background: -o-linear-gradient(315deg, #1034de 0%, #1034de 6%, #294ddf 6%, #294ddf 18%, #4367e0 18%, #4367e0 30%, #5c80e1 30%, #5c80e1 31%, #7599e3 31%, #7599e3 37%, #8eb2e4 37%, #8eb2e4 41%, #a8cce5 41%, #a8cce5 69%, #c1e5e6 69%, #c1e5e6 100%);
  background: linear-gradient(135deg, #1034de 0%, #1034de 6%, #294ddf 6%, #294ddf 18%, #4367e0 18%, #4367e0 30%, #5c80e1 30%, #5c80e1 31%, #7599e3 31%, #7599e3 37%, #8eb2e4 37%, #8eb2e4 41%, #a8cce5 41%, #a8cce5 69%, #c1e5e6 69%, #c1e5e6 100%);
}
.can-exist > header,
.can-exist > section,
.can-exist > footer {
  opacity: 0;
  -webkit-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
  pointer-events: none;
}
.can-exist > header.fade-in,
.can-exist > section.fade-in,
.can-exist > footer.fade-in {
  opacity: 1;
  -webkit-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
.can-exist > header > *,
.can-exist > section > *,
.can-exist > footer > * {
  opacity: 0;
  -webkit-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
.can-exist > header > *.fade-in,
.can-exist > section > *.fade-in,
.can-exist > footer > *.fade-in {
  opacity: 1;
  -webkit-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
.world {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 3s, background-size 3s, background-position 3s;
  -o-transition: opacity 3s, background-size 3s, background-position 3s;
  transition: opacity 3s, background-size 3s, background-position 3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.world.is-size-world {
  -webkit-animation: breathe 20s infinite;
  animation: breathe 20s infinite;
  background-size: 400% 400%;
}
@media (max-width: 768px) {
  .world.is-size-world {
    -webkit-animation: breathe 15s infinite;
    animation: breathe 15s infinite;
  }
}
.world.is-size-location {
  -webkit-animation: flex 12s infinite;
  animation: flex 12s infinite;
  background-size: 100% 100%;
  background-position: 35% 0%;
}
@media (max-width: 768px) {
  .world.is-size-location {
    -webkit-animation: flex 10s infinite;
    animation: flex 10s infinite;
  }
}
.world.fade-out {
  opacity: 0;
}
.is-size-brand {
  width: 15%;
  -webkit-animation: glow 10s forwards;
  animation: glow 10s forwards;
}
@media (max-width: 768px) {
  .is-size-brand {
    width: 25%;
  }
}
@-moz-keyframes breathe {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-webkit-keyframes breathe {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-o-keyframes breathe {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes breathe {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes flex {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 140% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@-webkit-keyframes flex {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 140% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@-o-keyframes flex {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 140% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes flex {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 140% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@-moz-keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
