.sunset
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.meteor
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.grade-grey
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.cool-blue
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.ocean
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.clear-sky
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.azure-lane
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.witching-hour
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.old-bubblegum
  background: rgb(89, 57, 212)
  background: -webkit-linear-gradient(90deg, rgb(89, 57, 212) 0%, rgb(89, 57, 212) 14%,rgb(111, 66, 211) 14%, rgb(111, 66, 211) 24%,rgb(225, 114, 205) 24%, rgb(225, 114, 205) 37%,rgb(66, 47, 213) 37%, rgb(66, 47, 213) 40%,rgb(157, 85, 208) 40%, rgb(157, 85, 208) 45%,rgb(180, 95, 207) 45%, rgb(180, 95, 207) 60%,rgb(134, 76, 210) 60%, rgb(134, 76, 210) 61%,rgb(202, 104, 206) 61%, rgb(202, 104, 206) 100%)
  background: linear-gradient(90deg, rgb(89, 57, 212) 0%, rgb(89, 57, 212) 14%,rgb(111, 66, 211) 14%, rgb(111, 66, 211) 24%,rgb(225, 114, 205) 24%, rgb(225, 114, 205) 37%,rgb(66, 47, 213) 37%, rgb(66, 47, 213) 40%,rgb(157, 85, 208) 40%, rgb(157, 85, 208) 45%,rgb(180, 95, 207) 45%, rgb(180, 95, 207) 60%,rgb(134, 76, 210) 60%, rgb(134, 76, 210) 61%,rgb(202, 104, 206) 61%, rgb(202, 104, 206) 100%)

$gameOverTransition = 3s
$runSpeed = 3s
$lungCapacity = 30s
$tension = 12s
$flexibility = 118%

.can-exist > header, .can-exist > section
  opacity:0.0
  transition: opacity $gameOverTransition
  &.fade-in
    opacity: 1.0
    transition: opacity $gameOverTransition
  & > *
    opacity: 0.0
    transition: opacity $gameOverTransition
    &.fade-in
      opacity: 1.0
      transition: opacity $gameOverTransition

.world
  position: absolute
  width:100%
  opacity:1.0
  transition:opacity $gameOverTransition, background-size $runSpeed, background-position $runSpeed
  &.size-400
    animation:breath $lungCapacity infinite
    background-size: 400% 400%
    &.fade-out
      opacity: 0.0
  &.size-200
    animation:flex $tension infinite
    background-size: 100% 100%
    background-position:35% 0%
    &.fade-out
      opacity: 0.0
      background-size: 600% 100%

@keyframes breath
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}

@keyframes flex
  0%{background-size:100% 100%}
  50%{background-size:$flexibility 100%}
  100%{background-size:100% 100%}
