@import 'locations'

$gameOverTransition = 3s
$runSpeed = 3s
$lungCapacity = 20s
$tension = 12s
$flexibility = 140%

.can-exist > header, .can-exist > section, .can-exist > footer
  opacity:0.0
  transition: opacity $gameOverTransition
  pointer-events:none
  &.fade-in
    opacity: 1.0
    transition: opacity $gameOverTransition
  & > *
    opacity: 0.0
    transition: opacity $gameOverTransition
    &.fade-in
      opacity: 1.0
      transition: opacity $gameOverTransition

.is-full-screen
  position: absolute
  width:100%
  height:100%

.has-items-centered
  flex-direction:column
  align-items: center

.has-fade-out
  opacity:1.0
  transition:opacity $gameOverTransition
  &.fade-out
    opacity: 0.0

.world
  transition:opacity $gameOverTransition, background-size $runSpeed, background-position $runSpeed
  z-index: -3
  &.is-size-outdoors
    animation:breathe $lungCapacity infinite
    @media(max-width:768px)
      animation: breathe 15s infinite
    background-size: 400% 400%
  &.is-size-indoors
    animation:flex $tension infinite
    @media(max-width:768px)
      animation: flex 10s infinite
    background-size: 100% 100%
    background-position:35% 0%

.brand-container
  z-index:-1

#space
  position: fixed
  height:100%
  width:100%
  z-index: -2
  canvas
    height:100%
    width:100%

svg#brand-logo
  animation: glow 10s forwards
  fill-rule:evenodd
  clip-rule:evenodd
  stroke-linejoin:round
  stroke-miterlimit:2
  background: none !important
  fill:white
  path
    // fill:white //default from exported svg file
    fill-rule:nonzero
  &.clear-sky
    fill:#2980B9
  &.sunset
    fill: #b92b27
  &.meteor
    fill: #0F2027
  &.grade-grey
    fill: lighten(#bdc3c7, 25%)
  &.cool-blue
    fill: #2193b0
  &.ocean
    fill: darken(#373B44, 20%)
  &.clear-sky
    fill: darken(#2980B9, 20%)
  &.azure-lane
    fill: #7F7FD5
  &.witching-hour
    fill: #c31432
  &.old-bubblegum
    fill: rgb(89, 57, 212)
  &.pomegranite
    fill:  lighten(rgb(239, 7, 129), 25%)
  &.hazy-morning
    fill: rgb(16, 52, 222)

.is-size-brand
  width:12%
  @media(max-width:768px)
    width:25%

@keyframes breathe
  0%
    background-position:50% 0%
  50%
    background-position:50% 100%
  100%
    background-position:50% 0%

@keyframes flex
  0%
    background-size:100% 100%
  50%
    background-size:$flexibility 100%
  100%
    background-size:100% 100%

@keyframes glow
  0%
    opacity:0.0
  45%
    opacity: 1.0
  55%
    opacity: 1.0
  100%
    opacity:0.0
