|{% load static %}
|{% url 'gain-experience' as gainexperience %}

.card
  .card-content
    .content
      .stat
        p Level: <span id="game-life">0</span>
      |{% if game.entities %}
      |{% for entity in game.entities %}
      .entity(id="entity-{{entity.pk}}")
        span {{entity.name}}<small> Exp: <span class="exp">{{entity.experience}}</span></small>
      |{% endfor %}
      |{% endif %}

|{% block prescript %}
| {{gainexperience|json_script:'gainexpurl'}}
script.
  var gainExpUrl = JSON.parse(document.querySelector('#gainexpurl').textContent);
  var csrfToken = '{{csrf_token}}'
|{% endblock %}

|{% block postscript %}
script(src="{% static 'rpg/js/rpg_ui.js' %}")
script(src="{% static 'rpg/js/rpg.js' %}")
script.
  function mouseMoveInteraction(){
    if (enableExpHandler) {
      gainExp(gainExpUrl, 1, 1, csrfToken);
      game['life'] += 1
      enableExpHandler = false;
    }
  }

  /* slider = document.querySelector("#formality-range")
  slider.oninput = function(){
    if(this.value == 100){
      $('.will-pulse-in').addClass('activate');
      $('.will-pulse-in').one("animationend", function(event) {
          console.log("Done")
          $(this).removeClass('activate')
      });
    }
  } */
|{% endblock %}

  
  
  
