|{% url 'gain-experience' as gainexperience %}

|{% for entity in game.entities %}
.card
  .card-content
    .content
      .stat
        p Game Life: <span id="game-life">0</span>
      .entity(id="entity-{{entity.pk}}")
        p {{entity.name}}
        small Exp: <span class="exp">{{entity.experience}}</span>
|{% endfor %}

|{% block extraScript %}
| {{gainexperience|json_script:'gainexpurl'}}
script.
  var gainExpUrl = JSON.parse(document.querySelector('#gainexpurl').textContent);
  var csrfToken = '{{csrf_token}}'
  
  function mouseMoveInteraction(){
    if (enableExpHandler) {
      gainExp(gainExpUrl, 1, 1, csrfToken);
      gameLife += 1
      enableExpHandler = false;
    }
  }
  
  document.addEventListener("DOMContentLoaded", function(){
    $(document).mousemove(function(e){ takeTurnIfReady(mouseMoveInteraction) });
    $(document).scroll(function(e){ takeTurnIfReady(mouseMoveInteraction) });
    document.addEventListener("touchstart", function(e){ takeTurnIfReady(mouseMoveInteraction) })
  })
|{% endblock %}

  
  
  
