|{% load static %}
|{% url 'gain-experience' as gainexperience %}

.card
  .card-content
    .content
      .stat
        p Power: <span id="game-power">0</span>
        p Level: <span id="game-lvl">{{game.lvl}}</span>
      |{% if game.entities %}
      hr.has-background-grey
      |{% for entity in game.entities %}
      .entity(id="entity-{{entity.pk}}")
        span {{entity.name}}<small> Exp: <span class="exp">{{entity.experience}}</span></small>
      |{% endfor %}
      |{% endif %}

|{% block prescript %}
| {{gainexperience|json_script:'gainexpurl'}}
script.
  var gainExpUrl = JSON.parse(document.querySelector('#gainexpurl').textContent);
  var csrfToken = '{{csrf_token}}'
|{% endblock %}

|{% block postscript %}
script.
  function mouseMoveInteraction(){
    if (enableExpHandler) {
      gainExp(gainExpUrl, 1, 1, csrfToken);
      game['power'] += 1
      enableExpHandler = false;
    }
  }
|{% endblock %}

  
  
  
